.body{
    display: flex;
    align-items: center;
    justify-content: center;

}

.cheesboard
{
    border: 2px solid black;
    width: 90%;
    height: 90%;
    display: flex;
    flex-wrap: wrap;
}
.cheesboard div{
    
    width: calc(100%/8);
    font-size: 70px;
    text-align: center;
    text-shadow: 3px 2px gold;
}
.white{
    background-color: white;
    width: 10%;
    height: 80px;
    height: 12.5%;
}
.black{
    background-color: black;
    width: 10%;
    height: 80px;
    color: white;
}